<p id="notice"><%= notice %></p>

<h1>Inventories</h1>
<div class="container">
  <div class="form-incline mt-2 mt-md-0">
    <%= form_tag search_inventories_path, method: :get do %>
      <%= text_field_tag :search, nil, placeholder: "Search by Inventory Name", class: "form-control mr-sm-2" %>
      <br>
      <%= submit_tag "Search", class: "btn btn-light my-2 my-sm-0" %>
    <% end %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Serial</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.name %></td>
        <td><%= inventory.serial %></td>
        <td><%= inventory.value %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
