<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inventory.name %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @inventory.serial %>
</p>

<p>
  <strong>Value:</strong>
  <%= @inventory.value %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
